.tab-content .container {
    width: 85%;
}

ul.tabs {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 130px;
    margin-bottom: 80px;
    width: 50%;
}

ul.tabs .indicator {
    background-color: #9575CD;
    width: 20%;
    margin: 0 auto;
}

ul.tabs li.tab a {
    font-size: 130%;
    color: #5C5757;
    text-align: center;
}

ul.tabs li.tab a:active,
ul.tabs li.tab a.active {
    color: #9575CD;
}

ul.tabs li.tab a:hover {
    color: #F48FB1;
}

.tab-content {
    margin-bottom: 70px;
}

.card.horizontal {
    height: 250px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


img.circle.on, img.circle.off {
    padding: 2px;
    margin-left: 10px;
}

img.circle.on {
    border: 3px solid forestgreen;
}

img.circle.off {
    border: 3px solid crimson;
}

.names {
    font-size: 120%;
    font-weight: 700;
}

.online, .offline {
    font-size: 80%;
    float: right;
    font-weight: 500;
}

.online {
    color: forestgreen;
}

a.btn.pulse {
    height: 10px;
    width: 10px;
}

.offline {
    color: crimson;
}

.stream {
    font-style: italic;
}

.game {
    font-weight: 500;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    ul.tabs {
        width: 100%;
    }
    
    ul.tabs li.tab a {
        font-size: 110%;
    }
}